

.button-control{
    background-color: #F7AF31 !important;
}

.border-game-color{
    border-color: #F7AF31 !important;
    box-shadow: 4px 4px 5px #64454B;
    margin-bottom: 8px;
}

.nm-inset-gray-100{
    border-color: #F7AF31 !important;
    box-shadow: #F7AF31 !important;
}

.count-down-color{
    color: #F7AF31 !important;
}

.width-grid{
    width: 100% !important;
}



  @media screen and (max-width: 800px) {
    .width-grid{
        width: 80% !important;
    }
  }

  @media screen and (max-width: 500px) {
    .width-grid{
        width: 100% !important;
    }
  }

  @media screen and (max-width: 480px) {
    .width-grid{
        width: 90% !important;
    }
  }